<div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp">Editar Mascotas</h1>

      <form class="contact-form mt-5" [formGroup]="mascotaForm" (ngSubmit)="editarMascota()" method="POST">
        <div class="row mb-3">
            <input type="hidden" formControlName="id" id="id">
          <div class="col-sm-6 py-2 wow fadeInLeft">
            <label for="fullName">Nombre</label>
            <input formControlName="nombre" type="text" id="fullName" class="form-control" placeholder="Nombre Completo..">
          </div>
          <div class="col-sm-6 py-2 wow fadeInLeft">
            <label for="fullName">Foto</label>
            <input formControlName="foto" type="text" id="foto" class="form-control" placeholder="Foto..">
          </div>
          <div class="col-sm-6 py-2 wow fadeInRight">
            <label for="estado">Estado</label>
            <input formControlName="estado" type="text" id="estado" class="form-control" placeholder="Estado..">
          </div>
          <div class="col-sm-6 py-2 wow fadeInRight">
            <label for="especie">Especie</label>
            <input formControlName="especie" type="text" id="especie" class="form-control" placeholder="Especie..">
          </div>
          <div class="col-sm-6 py-2 wow fadeInRight">
            <label for="comentario">Comentario</label>
            <input formControlName="comentario" type="text" id="comentario" class="form-control" placeholder="Comentario..">
          </div>
        </div>
        <button [disabled]="!mascotaForm.valid" type="submit" class="btn btn-primary wow zoomIn" >Enviar</button>
      </form>
    </div>
  </div>

